<!-- Config file for the game (Comments)-->
<config>		
  <window>
    <capped_frames frames = "30" />
    <title>My super awesome game with XML</title>
    <bools fullscreen = "false" borderless ="false" resizable ="true" fullscreen_window ="false"/>
    <size width="1024" height="768" scale = "2"/>

  </window>

  <audio>
    <volume_max>128</volume_max>
    <volume_min>128</volume_min>
    <music music_volume ="128" fx_volume="128" />
    
  </audio>
  <map>
    <folder>maps/</folder>
    <tmx_level_1>Level1.tmx</tmx_level_1>
    <tmx_level_2>Level2.tmx</tmx_level_2>
  </map>
	
  <pathfinding>
	<debug_texture>maps/path_debug.png</debug_texture>
  </pathfinding>
<animation>
<xml_source>../Game/textures/Animations.xml</xml_source>
</animation>

  <scene>
    <music>audio/music/music.ogg</music>  
  </scene>

<player>
        <fx_dead>audio/fx/dead.wav</fx_dead>	
        <fx_next_lvl>audio/fx/dead.wav</fx_next_lvl>

</player>

<entityManager>
  <entity>
    <type>player</type>
    <gravity g="-400.0"/>
<draw_dead d="true"/>
    <max_speed x="200.0" y="200.0"/>
    <collider_type>player</collider_type>
    <collider_size x="20" y="30"/>
  </entity>
  <entity>
    <type>enemy</type>
    <gravity g="0.0"/>
<draw_dead d="true"/>
    <max_speed x="50.0" y="20.0"/>
    <collider_type>enemy</collider_type>
    <collider_size x="20" y="30"/>
  </entity>
 <entity>
    <type>rpg</type>
    <gravity g="-360.0"/>
<draw_dead d="true"/>
    <max_speed x="0.0" y="20.0"/>
    <collider_type>enemy</collider_type>
    <collider_size x="20" y="28"/>
  </entity>
 <entity>
    <type>bullet</type>
    <gravity g="0.0"/>
  	<draw_dead d="false"/>
     <max_speed x="150.0" y="150.0"/>
    <collider_type>enemy</collider_type>
    <collider_size x="16" y="16"/>
  </entity>
 <entity>
    <type>rocket</type>
    <gravity g="0.0"/>
<draw_dead d="false"/>
     <max_speed x="100.0" y="100.0"/>
    <acceleration a="5.0"/>
    <collider_type>enemy</collider_type>
    <collider_size x="20" y="20"/>
  </entity>
 <entity>
    <type>drone</type>
    <gravity g="0.0"/>
<draw_dead d="true"/>
     <max_speed x="40.0" y="40.0"/>
    <acceleration a="5.0"/>
    <collider_type>enemy</collider_type>
    <collider_size x="20" y="20"/>
  </entity>
  <fx_jump>audio/fx/jump.wav</fx_jump>
  <fx_shoot>audio/fx/shoot.wav</fx_shoot>

</entityManager>


</config>