<!-- Config file for the game (Comments)-->
<config>		
  <window>
    <capped_frames frames = "30" />
    <title>My super awesome game with XML</title>
    <bools fullscreen = "false" borderless ="false" resizable ="true" fullscreen_window ="false"/>
    <size width="1024" height="768" scale = "2"/>

  </window>

  <audio>
    <volume_max>128</volume_max>
    <volume_min>128</volume_min>
    <music music_volume ="128" fx_volume="128" />
    
  </audio>
  <map>
    <folder>maps/</folder>
  </map>
	
  <pathfinding>
	<debug_texture>maps/path_debug.png</debug_texture>
  </pathfinding>
<animation>
<xml_source>../Game/textures/Animations.xml</xml_source>
</animation>

  <scene>
    <music>audio/music/music.ogg</music>  
  </scene>

<player>
	
	<fx_dead>audio/fx/dead.wav</fx_dead>
	<fx_jump>audio/fx/jump.wav</fx_jump>
</player>

<entityManager>
  <entity>
    <type>player</type>
    <gravity g="-360.0"/>
    <max_speed x="4000.0" y="5000.0"/>
    <collider_type>player</collider_type>
    <collider_size x="20" y="30"/>
  <entity/>
</entityManager>


</config>